@font-face {
    font-family: "Montserrat";
    src: url("./../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype") font-weight-normal,
    url("./../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype") font-weight-bold
  }
  
  @font-face {
    font-family: "MyriadPro";
    src: url("./../fonts/myriad-pro-cufonfonts/MYRIADPRO-REGULAR.OTF") format("opentype")
        font-weight-normal
  }
  